<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wanghf.myapplication">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 互联网访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写入 SD 卡的权限, Debug 使用 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- jpush required permisson 2016.1.19 -->
    <!-- 官方定义的权限，允许应用接收JPUSH内部代码发送的广播消息 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <!-- 允许应用可以接收点亮屏幕或解锁广播 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 手机屏幕关闭后，后台仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 读取外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读写系统设置项 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 挂载/卸载外部文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 显示系统窗口，位于顶层 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.example.wanghf.smartwaistcoat.MainApplication"
        android:allowBackup="true"
        android:label="smartcoat"
        android:icon="@drawable/icon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.example.wanghf.smartwaistcoat.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.wanghf.smartwaistcoat.PersonalInfoActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.example.wanghf.smartwaistcoat.EmergencyContactActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.example.wanghf.smartwaistcoat.AlarmActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.example.wanghf.smartwaistcoat.DeviceActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.example.wanghf.smartwaistcoat.SettingActivity"
            android:screenOrientation="portrait">

        </activity>

        <service
            android:name="com.example.wanghf.smartwaistcoat.inputdata.WiFiConnectService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name="com.example.wanghf.smartwaistcoat.inputdata.DataParseService"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>